#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        gaming {
            bindings = <&tog 3>;
            key-positions = <5 7 9 29 32>;
            require-prior-idle-ms = <1000>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        typing {
            bindings = <
&kp Q             &kp W  &kp F  &kp P      &kp G          &kp J        &kp L                   &kp U      &kp Y    &kp SEMI
&kp A             &kp R  &kp S  &kp T      &kp D          &kp H        &kp N                   &kp E      &kp I    &kp O
&mt LEFT_SHIFT Z  &kp X  &kp C  &kp V      &kp B          &kp K        &kp M                   &kp COMMA  &kp DOT  &mt RIGHT_SHIFT FSLH
                                &kp LCTRL  &lt 1 SPACE    &lt 2 ENTER  &mt LC(BSPC) BACKSPACE
            >;
        };

        layer_1 {
            bindings = <
&kp N1  &kp N2          &kp N3          &kp N4           &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
&trans  &kp LEFT_ARROW  &kp UP          &kp RIGHT_ARROW  &trans    &trans  &kp N4  &kp N5  &kp N6  &kp APOS
&trans  &trans          &kp DOWN_ARROW  &trans           &trans    &trans  &kp N1  &kp N2  &kp N3  &trans
                                        &trans           &trans    &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        gaming {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E  &kp R        &trans  &trans  &trans  &trans  &trans
&kp LSHFT  &kp A  &kp S  &kp D  &kp F        &trans  &trans  &trans  &trans  &trans
&kp LCTRL  &kp Z  &kp X  &kp C  &kp V        &trans  &trans  &trans  &trans  &trans
                         &kp M  &kp SPACE    &trans  &trans
            >;
        };
    };
};
